.detail-new-article {
  height: 460px;
  background-color: #F8F9FA;
  padding-top: 4%;
  padding-left: 7%;
}
.article-form {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0;
  margin-top: 20px;
  border-radius: 5px;
  width: 96%;
  padding-top: 6px;
  padding-bottom: 6px;
}
.title-form {
  width: 205%;
}
.title-body {
  width: 205%;
  height: 100px;
}
.submit-article {
  margin-top: 15px;
}
.text-index-1 {
  float: left;
}
.text-article-1 a {
  color: black;
}
.link-index-1 {
  float: right;
  margin-right: 9%;
}
.product {
  float: left;
  height: 150px;
  width: 348px;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-right: 35px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
}
.new-article {
  padding-top: 1%;
}
.text-article-1 {
  font-weight: bold;
}
.new-article-in-index {
  height: 60px;
}
.text-3 {
  color: #6C757D;
  margin-bottom: 5px;
}
.text-3 a {
  color: #6C757D;
}
.icon-show-1 {
  float: right;
  margin-right: 9%;
  font-size: 20px;
}
.icon-show-2 {
  float: right;
  margin-right: 2%;
  font-size: 20px;
}
.content-body {
  margin-bottom: 10px;
}